# Run whenever master is updated, whenever a pull request against master is opened, and everyday at midnight.
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: "Check for changes and make updates to publications."
    runs-on: ubuntu-latest

    steps:
      - name: Set env
        run: echo ::set-env name=workspace::$GITHUB_WORKSPACE
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(env) }}
        run: echo "$GITHUB_CONTEXT"
      - run: echo $npm_config_cache
        env:
          npm_config_cache: ${{ env.workspace }}
      - name: "Checkout sasview.github.io"
        uses: actions/checkout@v2
        with:
          repository: sasview/sasview.github.io
          ref: master
          ssh-key: ${{ secrets.API_TOKEN_GITHUB }}
      - name: "Checkout saspubs"
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.API_TOKEN_GITHUB }}
      - name: "Setup Python"
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: "Install Python dependencies"
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools
          python -m pip install citeproc-py lxml numba numpy numpydoc pandas pandocfilters sphinx
      - name: "Debugging - Show location of github workspace"
        run: echo $GITHUB_WORKSPACE
      - name: "Debugging - Pip List"
        run: python -m pip list
      - name: "Create json file and md page"
        run: python ./instrument_zotero_feed.py SASVIEW
      - name: "Debugging - json files exist"
        run: less ./data/SASVIEW.json
      - name: "Debugging - md files exist"
        run: less ./static/SASVIEW_publications.md
      - name: "Look for updates using citeproc"
        run: python ./update_current_list.py SASVIEW ${{ secrets.ZOTERO_KEY }}
