# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# Defines the run type
defaults:
  run:
    shell: bash
    working-directory: shell_scripts

# Defines the jobs to perform
jobs:
  build:
    name: Check for changes and make updates to publications.
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout saspubs"
        uses: actions/checkout@master
        with:
          repository: sasview/saspubs
          ref: master
          token: ${{ secrets.API_TOKEN_GITHUB }}
          path: ./saspubs
      - name: "Checkout sasview.github.io"
        uses: actions/checkout@master
        with:
          repository: sasview/sasview.github.io
          ref: master
          token: ${{ secrets.API_TOKEN_GITHUB }}
          path: ./sasview.github.io
      - name: "Setup Python"
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: "Install Python dependencies"
        uses: py-actions/py-dependency-install@v2
        with:
          path: ./saspubs/build_tools/requirements.txt
      - name: "run shell script that calls python files"
        run: ./saspubs/shell_scripts/modification_and_duplicate_check.sh ${{ secrets.API_TOKEN_GITHUB }} ${{ secrets.ZOTERO_KEY }}
