# Run whenever master is updated, whenever a pull request against master is opened, and everyday at midnight.
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: "Check for changes and make updates to publications."
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout sasview.github.io"
        uses: actions/checkout@v2
        with:
          repository: sasview/sasview.github.io
          ref: master
          ssh-key: ${{ secrets.API_TOKEN_GITHUB }}
      - name: "Checkout saspubs"
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.API_TOKEN_GITHUB }}
      - name: "Setup Python"
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: "Install Python dependencies"
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools
          python -m pip install citeproc-py lxml numba numpy numpydoc pandas pandocfilters sphinx
      - name: "Debugging sequence"
        run: echo GITHUB_WORKSPACE
      - name: "Create json file and md page"
        run: python GITHUB_WORKSPACE/instrument_zotero_feed.py SASVIEW
      # TODO: Reinstate once instrument_zotero_feed is working
      # - name: "Look for updates using citeproc"
      #   run: python ./update_current_list.py ${{ secrets.API_TOKEN_GITHUB }} ${{ secrets.ZOTERO_KEY }}
