# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# Defines the run type
defaults:
  run:
    shell: bash
    working-directory: shell_scripts

# Defines the jobs to perform
jobs:
  build:
    name: Check for changes and make updates to publications.
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout saspubs"
        uses: actions/checkout@v1
        with:
          repository: sasview/saspubs
          ref: master
          ssh-key: ${{ secrets.API_TOKEN_GITHUB }}
          path: ./saspubs
      - name: "Checkout sasview.github.io"
        uses: actions/checkout@v1
        with:
          repository: sasview/sasview.github.io
          ref: master
          ssh-key: ${{ secrets.API_TOKEN_GITHUB }}
          path: ./sasview.github.io
      - name: "Setup Python"
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: "Install Python dependencies"
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools
          python -m pip install citeproc-py lxml numba numpy numpydoc pandas pandocfilters sphinx
      - name: "Run shell script"
        run: ./saspubs/shell_scripts/modification_and_duplicate_check.sh ${{ secrets.API_TOKEN_GITHUB }} ${{ secrets.ZOTERO_KEY }}
