# Run every hour on the hour
on:
  schedule:
    - cron: "0 * * * *"

jobs:
  call-workflow-start:
    uses: ./.github/workflows/common_start.yml
  call-workflow-end:
    uses: ./.github/workflows/common_end.yml
