# Run for pull requests (until fixed)
on:
  pull_request:

jobs:
  call-workflow-start:
    uses: ./.github/workflows/common_start.yml
  call-workflow-end:
    uses: ./.github/workflows/common_end.yml
