# Run every night at midnight
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  call-workflow-start:
    uses: ./.github/workflows/common_start.yml
  update-citations:
    runs-on: ubuntu-latest
    steps:
      - name: "Look For Updates to Zotero List Using Citation Finder"
        run: python ./update_current_list.py SASVIEW ${{ secrets.ZOTERO_KEY }}
  call-workflow-end:
    uses: ./.github/workflows/common_end.yml
